<launch>
  <!-- Argument: TRUE if simulation, otherwise FALSE -->
  <arg name="sim" default="true" />

  <group if="$(arg sim)">
    <!-- Gazebo World Nodes -->
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_empty_world.launch" />
  </group>

  <group unless="$(arg sim)" />
    <!-- Robot Nodes -->
    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch" />
    <!-- <include file="$(find turtlebot3_bringup)/launch/turtlebot3_model.launch" /> -->
  </group>

  <!-- RViz Nodes -->
  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_gazebo_rviz.launch" />

  <!-- Python Node -->
  <node pkg="lab2" name="lab2" type="lab2.py"> </node>
</launch>