<launch>
    
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
    
    <node pkg="map_server" type="map_server" name="map_server" output="screen" args="$(find lab3)/maps/simple_map.yaml"/>

    <!-- TurtleBot3 -->
    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
        <arg name="model" value="$(arg model)"/>
    </include>
 
    <!-- World Simulation -->
    <include file="$(find lab4)/launch/world_sim.launch">
        <arg name="model" value="burger"/>
        <arg name="world" value="turtlebot"/>
    </include>
 
    <!-- Rviz -->
    <node pkg="rviz" type="rviz" name="rviz" output="screen" args="$(find lab4)/rviz/localizationConfig.rviz"/>
 
    <!-- Launch path planner -->
    <node name="path_planner" pkg="lab3" type="path_planner.py" output="screen" args="-d $(find lab4)/rviz/gmappingConfig.rviz"/>
 
    <!-- Launch lab3 listener -->
    <node name="lab3_listener" pkg="lab3" type="lab3_listener.py" />
 
    <!-- Pure Pursuit Node -->
    <node name="lab2" pkg="lab2" type="lab2.py" />

    <!-- AMCL -->
    <node name="amcl" pkg="amcl" type="amcl" output="screen" />
    <node name="localization_check" pkg="lab4" type="localization.py" />
 
</launch>